<!DOCTYPE html>
<html>
	<head>
		<title>DadlyDad</title>
		<link rel="stylesheet" href="/assets/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
		<style type="text/css"></style>
	</head>
	<body>
		{{>@partial-block}}
	</body>
</html>