{{#>body_wrapper}}
		<div class="screen">
			<video autoplay muted loop class="video_splash">
				<source src="/assets/img/video/dadly_duplo_intro.mp4" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"'>
			</video>
			<div class="floaty top right">
				<div class="floaty_content">
					<div class="logo">
						<img src="/assets/img/logo/dadly_logo.png" srcset="/assets/img/logo/dadly_logo@2x.png">
					</div>
				</div>
				<div class="floaty_menu">
					<a target="_blank" href="https://www.youtube.com/channel/UCu0cIUwSs7F9Wtngs7SReIA">
						<div class="floaty_menu_item">
							<div class="floaty_menu_content">{{>youtube}}</div>
						</div>
					</a>
					<a target="_blank" href="https://twitter.com/DadDadly">
						<div class="floaty_menu_item">
							<div class="floaty_menu_content">{{>twitter}}</div>
						</div>
					</a>
					<a target="_blank" href="https://www.instagram.com/dadlydad_official/">
						<div class="floaty_menu_item">
							<div class="floaty_menu_content">{{>instagram}}</div>
						</div>
					</a>
				</div>

			</div>
		</div>
		<div class="wedge">
			<div class="wedge_content">
				Scroll down for more
			</div>
		</div>
{{/body_wrapper}}